@media(max-width:1000px){

.top{
	background-color: yellow;
	overflow: hidden;
	height:auto;
	padding: inherit;
	text-align: center;
}
.top_img{
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

  .concept_left{
    width:100%;
    height: auto;
}
  .concept_right{
    width:100%;
    height: auto;
  }
}
