ul{
	list-style-type: none;
}

/*=========================================ヘッダー*/
header{
	height:170px;
	width:100%;
	background-color: rgba(0,0,0,0.7);
	position: fixed;
}

.header_top{
	height:60px;
	width:auto;
	text-align: center;
	background-color: ;
	margin-bottom: 0px;
}
.header_top h1{
	color:white;
	line-height: 50px;
	font-family: "ＭＳ Ｐ明朝";
	font-size: 2.4rem;
	background-color:;
	margin-bottom: 0px;
}
.header_top h2{
	color:white;
	font-family: 'Playfair Display', serif;
	font-size: 0.88rem;
	font-weight: lighter;
	letter-spacing: 1.0px;
	background-color:;
	margin-top: 0px;
	margin-bottom: 0px;
}

.header_bottom{
	height:50px;
	width: auto;
	text-align: center;
	background-color: ;
	margin-top: 0px;
}
.header_bottom ul{
	text-align: center;
}

.header_bottom li{
	display: inline;
	color:white;
	padding-right:20px;
	line-height:50px;
	text-align: center;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 0.9rem;
	letter-spacing: 1.0px;
	transition: 0.5s ;
}
.header_bottom li:hover{
	color:gray;
}
/*=========================================メインコンテナ*/

.main{
	padding-top: 190px;
	background-color: black;
}

/*=========================================メインコンテナ_トップ画像*/
.top{
	
	height: 500px;
	/*width: 100%;*/
	background-color: ;
	text-align: center;
	padding-top: 50px;

}

.top_img{
	background-image: url("public/main2.jpg");
	background-size: cover;
	background-color: ;
	height: 100%;
	width: 90%;
	display: inline-block;
}

/*=========================================メインコンテナ_コンセプト*/

.content{	
	height: 600px;
	/*width: 100%;*/
	background-color: black;
	text-align: center;
	padding-top: 300px;

}

.content_img{
	background-image: url("public/food1-2.jpg");
	background-size: cover;
	height: 350px;
	width: 50%;
	background-color: brown;
	text-align: center;
	float:left;
	margin-left: 50px;
}


/*========================↓↓コンテンツ共通利用可能↓↓*/

.content_text{
	color:white;
	float:left;
	padding:20px 0px 0px 30px;
	font-family: 'M PLUS 1p', sans-serif;
	font-weight: 100;
	text-align: left;
	font-size: 0.9rem;
	letter-spacing: 1.5px;
	line-height: 30px;
}
.content_line{
	border-bottom: 2px solid white;
	width:70px;
	border-color: gray;
}
.content_text h2{
	font-family: 'M PLUS 1p', sans-serif;
	font-size: 2.0rem;
	font-weight: 100;
	letter-spacing: 8.0px;
}

/*========================↑↑コンテンツ共通利用可能↑↑*/

/*=========================================メインコンテナ_メニュー*/
.content_menu{	
	height: 800px;
	/*width: 100%;*/
	background-color: black;
	text-align: center;
	padding-top: 0px;

}

.content_img_menu{
	background-image: url("public/food2.jpg");
	background-size: cover;
	height: 350px;
	width: 50%;
	background-color: brown;
	text-align: center;
	float:left;
	margin-left: 50px;
}


/*========================↓↓コンテンツ共通利用可能↓↓*/

.content_text_menu{
	color:white;
	float:left;
	padding:20px 0px 0px 250px;
	font-family: 'M PLUS 1p', sans-serif;
	font-weight: 100;
	text-align: left;
	font-size: 0.9rem;
	letter-spacing: 1.5px;
	line-height: 30px;
}
.content_line{
	border-bottom: 2px solid white;
	width:70px;
	border-color: gray;
}
.content_text h2{
	font-family: 'M PLUS 1p', sans-serif;
	font-size: 2.0rem;
	font-weight: 100;
	letter-spacing: 8.0px;
}